<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/paginaListaAdministrador.css" rel="stylesheet">
    <title>GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body class="fade-in">
    <%- include('partials/backButton.ejs') %>
    <div class="container">
        <div class="topRow">
            <%- include('partials/searchBox.ejs') %>
            <button class="addButton" onclick="toggleAddModal()">Adicionar professor ➕</button>
        </div>
        <div class="objectListWrapper">
            <% if (!orientadores || Object.keys(orientadores).length===0) { %>
            <p>Ops! Parece que não existe nenhum professor cadastrado ainda.</p>
            <% } else { %>
            <% for (i = 0; i < orientadores.length; i++) { %>
            <% let orientador = orientadores[i] %>
            <div class="objectListItem">
                <span class="span-row span-row-xlarge">
                    <%= orientador.nome %>
                </span>
                <div class="flex-end-buttons-row">
                    <button class="flex-end-button" onclick="toggleDeleteModal('<%= JSON.stringify(orientador) %>')">🗑️</button>
                    <button class="flex-end-button" onclick="toggleEditModal('<%= JSON.stringify(orientador) %>')">✏️</button>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="modalContent">
            <button class="exitModalButton" onclick="toggleAddModal()">❌</button>
            <h2>Adicionar novo professor</h2>
            <form class="form" action="/professor" method="POST" onsubmit="return validateAddForm()">
                <input type="text" class="row textInput" name="nome" id="add-nome" placeholder="Nome" required maxlength="50">

                <input type="text" class="row textInput" name="email" id="add-email" placeholder="E-mail Institucional" required maxlength="30" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        
                <div class="row">
                    <input type="submit" value="Editar" class="row botaoSubmit">
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleAddModal() {
            const addModal = document.getElementById('addModal');

            if (addModal.style.display === 'flex') {
                addModal.style.display = 'none';
                return;
            }
            addModal.style.display = 'flex';
        }

        function validateAddForm() {
            const nomeInput = document.getElementById('add-nome');
            const emailInput = document.getElementById('add-email');

            if (nomeInput.value.trim() === '' || nomeInput.value.length > 50) {
                alert('Por favor, preencha o campo de nome corretamente (máximo de 50 caracteres).');
                return false;
            }

            if (emailInput.value.trim() === '' || emailInput.value.length > 30 || !/\S+@\S+\.\S+/.test(emailInput.value)) {
                alert('Por favor, preencha o campo de E-mail Institucional corretamente (máximo de 30 caracteres).');
                return false;
            }
        }
    </script>
    <div id="editModal" class="modal">
        <div class="modalContent">
            <button class="exitModalButton" onclick="toggleEditModal(null)">❌</button>
            <h2>Editar professor</h2>
            <form class="form" action="/professor/edit" method="POST" onsubmit="return validateEditForm()">
                <input type="hidden" name="id" id="edit-id">
                <input type="text" class="row textInput" name="nome" id="edit-nome" placeholder="Nome" required maxlength="50">

                <input type="text" class="row textInput" name="email" id="edit-email" placeholder="E-mail Institucional" required maxlength="30" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        
                <div class="row">
                    <input type="submit" value="Editar" class="row botaoSubmit">
                </div>
            </form>
            <hr style="margin: 30px">
            <form class="form" action="/usuario/novasenha" method="POST">
                <input type="hidden" name="id" id="edit-id2">
                <input type="hidden" name="email" id="edit-email2">
                <div class="row">
                    <input type="password" class="textInput span-row-large" name="senha" id="edit-senha" placeholder="Senha" required minlength="3" maxlength="15">
                    <input type="submit" value="Nova Senha" class="row botaoSubmit">
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleEditModal(jsonOrientador) {
            const editModal = document.getElementById('editModal');

            if (jsonOrientador) {
                const orientador = JSON.parse(jsonOrientador);

                const nomeInput = document.getElementById('edit-nome');
                const emailInput = document.getElementById('edit-email');
                const idInput = document.getElementById('edit-id');
                const senhaInput = document.getElementById('edit-senha');
                const id2Input = document.getElementById('edit-id2');
                const emailInput2 = document.getElementById('edit-email2');
            
                nomeInput.value = orientador.nome;
                emailInput.value = orientador.Usuario.login;
                idInput.value = orientador.id;
                senhaInput.value = '';
                id2Input.value = orientador.Usuario.id;
                emailInput2.value = orientador.Usuario.login;
            }

            if (editModal.style.display === 'flex') {
                editModal.style.display = 'none';
                return;
            }

            editModal.style.display = 'flex';
        }

        function validateEditForm() {
            const nomeInput = document.getElementById('edit-nome');
            const emailInput = document.getElementById('edit-email');

            if (nomeInput.value.trim() === '' || nomeInput.value.length > 50) {
                alert('Por favor, preencha o campo de nome corretamente (máximo de 50 caracteres).');
                return false;
            }

            if (emailInput.value.trim() === '' || emailInput.value.length > 30 || !/\S+@\S+\.\S+/.test(emailInput.value)) {
                alert('Por favor, preencha o campo de E-mail Institucional corretamente (máximo de 30 caracteres).');
                return false;
            }
        }
    </script>
    <div id="deleteModal" class="modal">
        <div class="modalContent">
            <button class="exitModalButton" onclick="toggleDeleteModal(null)">❌</button>
            <h2>Você deseja remover <span id="delete-nome"></span>?</h2>
            <div class="row">
                <button id="delete-no" class="botaoSubmit" onclick="toggleDeleteModal(null)">Não</button>
                <button id="delete-yes" class="botaoSubmit">Sim</button>
            </div>
        </div>
    </div>
    <script>
        function toggleDeleteModal(jsonOrientador) {
            const deleteModal = document.getElementById('deleteModal');

            if (jsonOrientador) {
                const orientador = JSON.parse(jsonOrientador);
                
                const nome = document.getElementById("delete-nome");
                const deleteButton = document.getElementById("delete-yes")

                nome.innerText = orientador.nome;
                deleteButton.onclick = function () {
                    location.href = `/professor/delete/${orientador.id}`;
                };
                deleteButton.focus()
            }

            if (deleteModal.style.display === 'flex') {
                deleteModal.style.display = 'none';
                return;
            }

            deleteModal.style.display = 'flex';
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchBox = document.getElementById('searchBox');
            const projectList = document.querySelectorAll('.objectListItem');
            searchBox.addEventListener('input', function () {
                const searchTerm = searchBox.value.toLowerCase();
                projectList.forEach(function (item) {
                    const projectName = item.querySelector('.span-row-xlarge').textContent.toLowerCase();
                    if (projectName.includes(searchTerm)) {
                        item.style.display = 'flex';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>

</html>
