<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/paginaListaAdministrador.css" rel="stylesheet">
    <title>GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body class="fade-in">
    <div id="loading" class="loading"><img src="/img/loading.gif"></div>
    <%- include('partials/backButton.ejs') %>
    <div class="container">
        <div class="topRow">
            <%- include('partials/searchBox.ejs') %>
            <button class="addButton" onclick="toggleAddModal()">Adicionar curso ➕</button>
        </div>
        <div class="objectListWrapper">
            <% if (!cursos || Object.keys(cursos).length === 0) { %>
                <p>Ops! Parece que não existe nenhum curso cadastrado ainda.</p>
            <% } else { %>
                <% for (i = 0; i < cursos.length; i++) { %>
                    <% let curso = cursos[i] %>
                    <div class="objectListItem">
                        <span class="span-row span-row-large">
                            <%= curso.nome %>
                        </span>
                        <div class="flex-end-buttons-row">
                            <button class="flex-end-button" onclick="toggleMembersModal('<%= curso.id %>', '<%= curso.nome %>')">👤</button>
                            <button class="flex-end-button" onclick="toggleDeleteModal('<%= JSON.stringify(curso) %>')">🗑️</button>
                            <button class="flex-end-button" onclick="toggleEditModal('<%= JSON.stringify(curso) %>')">✏️</button>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <div id="addModal" class="modal">
        <div class="modalContent">
            <button class="exitModalButton" onclick="toggleAddModal()">❌</button>
            <h2>Adicionar novo curso</h2>
            <form class="form" action="/curso" method="POST" onsubmit="return validateAddForm()">
                <input type="text" class="row textInput" name="nome" id="add-nome" placeholder="Nome" required maxlength="50">
                <div class="row">
                    <input type="submit" value="Adicionar" class="row botaoSubmit">
                </div>
            </form>
        </div>
    </div>
    <script>
        function validateAddForm() {
            const nomeInput = document.getElementById('add-nome');
            const descricaoInput = document.getElementById('add-descricao');

            if (nomeInput.value.trim() === '' || nomeInput.value.length > 50) {
                alert('Por favor, preencha o campo de nome corretamente (máximo de 50 caracteres).');
                return false;
            }

            if (descricaoInput.value.trim() === '' || descricaoInput.value.length > 500) {
                alert('Por favor, preencha o campo de descrição corretamente (máximo de 500 caracteres).');
                return false;
            }

            return true;
        }

        function toggleAddModal() {
            const addModal = document.getElementById('addModal');

            if (addModal.style.display === 'flex') {
                addModal.style.display = 'none';
                return;
            }
            addModal.style.display = 'flex';
        }
    </script>
    <div id="editModal" class="modal">
        <div class="modalContent">
            <button class="exitModalButton" onclick="toggleEditModal()">❌</button>
            <h2>Editar curso</h2>
            <form class="form" action="/curso/edit" method="POST" onsubmit="return validateEditForm()">
                <input type="hidden" name="id" id="edit-id">
                <input type="text" class="row textInput" name="nome" id="edit-nome" placeholder="Nome" required maxlength="50">
                <div class="row">
                    <input type="submit" value="Salvar" class="row botaoSubmit">
                </div>
            </form>
        </div>
    </div>
    <script>
        function validateEditForm() {
            const nomeInput = document.getElementById('edit-nome');
            const descricaoInput = document.getElementById('edit-descricao');

            if (nomeInput.value.trim() === '' || nomeInput.value.length > 50) {
                alert('Por favor, preencha o campo de nome corretamente (máximo de 50 caracteres).');
                return false;
            }

            if (descricaoInput.value.trim() === '' || descricaoInput.value.length > 500) {
                alert('Por favor, preencha o campo de descrição corretamente (máximo de 500 caracteres).');
                return false;
            }

            return true;
        }

        function toggleEditModal(jsonCurso) {
            const editModal = document.getElementById('editModal');

            if (jsonCurso) {
                const curso = JSON.parse(jsonCurso);

                const nomeInput = document.getElementById('edit-nome');
                const idInput = document.getElementById('edit-id');
            
                nomeInput.value = curso.nome;
                idInput.value = curso.id;
            }

            if (editModal.style.display === 'flex') {
                editModal.style.display = 'none';
                return;
            }
            editModal.style.display = 'flex';
        }
    </script>
    <div id="deleteModal" class="modal">
        <div class="modalContent">
            <button class="exitModalButton" onclick="toggleDeleteModal(null)">❌</button>
            <h2>Você deseja remover <span id="delete-nome"></span>?</h2>
            <div class="row">
                <button id="delete-no" class="botaoSubmit" onclick="toggleDeleteModal(null)">Não</button>
                <button id="delete-yes" class="botaoSubmit">Sim</button>
            </div>
        </div>
    </div>
    <script>
        function toggleDeleteModal(jsonCurso) {
            const deleteModal = document.getElementById('deleteModal');

            if (jsonCurso) {
                const curso = JSON.parse(jsonCurso);

                const nome = document.getElementById("delete-nome");
                const deleteButton = document.getElementById("delete-yes")

                nome.innerText = curso.nome;
                deleteButton.onclick = function () {
                    location.href = `/curso/delete/${curso.id}`;
                };
                deleteButton.focus()
            }

            if (deleteModal.style.display === 'flex') {
                deleteModal.style.display = 'none';
                return;
            }
            deleteModal.style.display = 'flex';
        }
    </script>
   <div id="membersModal" class="modal">
    <div class="modalContent-l">
        <button class="exitModalButton" onclick="toggleMembersModal(null, '')">❌</button>
        <h2>Vincular alunos ao curso</h2>
        <form class="formMembros" action="/curso/vincular" method="POST">
            <input type="hidden" name="id" id="members-id">
            <div class="formMembrosListas">
                <div class="membersLista">
                    <h2 style="margin-bottom: 10px;" id="lbl-curso"></h2>
                    <%- include('partials/searchBoxMiniExtended.ejs') %>
                    <div id="members-listaAlunos" class="membersListaInnerExt">
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Vincular" class="row botaoSubmit">
            </div>
        </form>
    </div>
</div>
<script>
    function toggleMembersModal(idCurso, nome) {
        const nomeLbl = document.getElementById('lbl-curso');
        nomeLbl.innerHTML = nome;

        const membersModal = document.getElementById('membersModal');
        const listaAlunosDiv = document.getElementById('members-listaAlunos');
        listaAlunosDiv.innerHTML = '';

        if (membersModal.style.display === 'flex') {
            membersModal.style.display = 'none';
            return;
        }

        const idInput = document.getElementById('members-id');
        idInput.value = Number(idCurso);

        const loadingScreen = document.getElementById('loading');
        loadingScreen.style.display = 'flex'
        fetch('/api/alunos')
            .then(response => response.json())
            .then(data => {
                console.log(data)

                const alunos = data.alunos;
                const alunosCurso = alunos.filter(aluno => checkIfStudentOnCourse(aluno, Number(idCurso)))
                const alunosForaDoCurso = alunos.filter(aluno => !checkIfStudentOnCourse(aluno, Number(idCurso)))

                alunosCurso.forEach(aluno => {
                    listaAlunosDiv.appendChild(buildBasicStudentCheckbox(aluno, true));
                })
                alunosForaDoCurso.forEach(aluno => {
                    listaAlunosDiv.appendChild(buildBasicStudentCheckbox(aluno, false));
                })

                loadingScreen.style.display = 'none';
                membersModal.style.display = 'flex';
        })
        .catch(error => {
            console.error('Erro ao buscar a lista de alunos e professores:', error);
            loadingScreen.style.display = 'none';
        });
    }

    function checkIfStudentOnCourse(obj, idCurso) {
        var curso = obj.Curso;
        if (curso)
            return curso.id == idCurso;
        else
            return false;
    }

    function buildBasicStudentCheckbox(aluno, checked) {
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.id = "checkbox" + aluno.id;
        checkbox.name = "idAlunos[]";
        checkbox.value = aluno.id;
        if (checked) {
            checkbox.checked = true;
        }

        var label = document.createElement("label");
        label.htmlFor = "checkbox" + aluno.id;
        label.appendChild(document.createTextNode(aluno.nome));

        var container = document.createElement("div");
        container.classList.add("inputContainer")
        container.appendChild(label);
        container.appendChild(checkbox);

        return container;
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchBox = document.querySelector('#searchBox');
        searchBox.addEventListener('input', filterProjects);

        const searchBoxMiniExt = document.getElementById('abacate');
        searchBoxMiniExt.addEventListener('input', filterStudents);
    });

    function filterProjects() {
        const searchBox = document.querySelector('#searchBox');
        const items = document.querySelectorAll('.objectListItem');

        const searchText = searchBox.value.toLowerCase();

        items.forEach(item => {
            const itemName = item.querySelector('.span-row-large').innerText.toLowerCase();
            if (itemName.includes(searchText)) {
                item.style.display = 'flex';
            } else {
                item.style.display = 'none';
            }
        });
    }

    function filterStudents() {
        const searchBoxMiniExt = document.getElementById('abacate');
        const items = document.querySelectorAll('#members-listaAlunos .inputContainer');

        const searchText = searchBoxMiniExt.value.toLowerCase();

        items.forEach(item => {
            const itemName = item.querySelector('label').innerText.toLowerCase();
            if (itemName.includes(searchText)) {
                item.style.display = 'flex';
            } else {
                item.style.display = 'none';
            }
        });
    }
</script>
</body>

</html>
