<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/indexOrientador.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body class="fade-in">
    <%- include('partials/logoutButton.ejs') %>
    <div class="container">
        <% let doesNotHaveProjects = !listaProjetos || Object.keys(listaProjetos).length === 0; %>
        <div class="professorProfileCard">
            <div class="profileCardText">
                <h1 class="redBorderBottom professorName">Bem vindo(a), <%= professor.nome.split(" ")[0] %>!</h1>
                <span class="professorNameSpace"></span>
                <% if (doesNotHaveProjects) { %>
                    <p>Ops! Parece que você ainda não foi cadastrado em nenhum projeto.</p>
                <% } else { %>
                    <%- include('partials/searchBox.ejs') %>
                <% } %>
            </div>
            <img src="/img/blank-user.jpg" class="profilePictureBig">
        </div>
        <div class="projectsSection">
        <% if (!doesNotHaveProjects) { %>
            <% for (i = 0; i < listaProjetos.length; i++) { %>
                <% let projeto = listaProjetos[i] %>
                <div class="objectListItem">
                    <span class="span-row span-row-large">
                        <%= projeto.nome %>
                    </span>    
                    <div class="flex-end-buttons-row">
                        <a href="/projeto/<%= projeto.id %>">
                            <button class="goToProjectButton">Ir para o projeto ➤</button>
                        </a>
                    </div>
                </div>
            <% } %>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const searchBox = document.getElementById('searchBox');
                    const projectList = document.querySelectorAll('.objectListItem');
                    searchBox.addEventListener('input', function () {
                        const searchTerm = searchBox.value.toLowerCase();
                        projectList.forEach(function (item) {
                            const projectName = item.querySelector('.span-row-large').textContent.toLowerCase();
                            if (projectName.includes(searchTerm)) {
                                item.style.display = 'flex';
                            } else {
                                item.style.display = 'none';
                            }
                        });
                    });
                });
            </script>
        <% } %>
        </div>
    </div>
</body>

</html>