<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/indexAluno.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body class="fade-in">
    <%- include('partials/logoutButton.ejs') %>
    <div class="container">
        <div class="studentProfileCard">
            <div class="profileCardText">
                <h1 class="redBorderBottom">Bem vindo(a), <%= aluno.nome.split(" ")[0] %>!</h1>
                <h2 class=" redBorderBottom">
                    RA: <%= aluno.ra %>
                </h2>
                <h2 class="redBorderBottom">
                    Curso: <%= aluno.Curso.nome %>
                </h2>
            </div>
            <img src="/img/blank-user.jpg" class="profilePictureBig">
        </div>
        <div class="projectSection">
            <% if (!listaProjetos || !listaProjetos[0] ) { %>
                <p>Ops! Parece que você ainda não foi cadastrado a nenhum projeto.</p>
            <% } else { %>
            <h2 class="redBorderBottom">Projeto: <%= listaProjetos[0].nome %>
            </h2>
            <div class="mainPageProjectCard">
                <h3 class="bold">Descrição do projeto:</h3>
                <p class="projectCardDescription">
                    <%= listaProjetos[0].descricao %>
                </p>
                <a href="/projeto/<%= listaProjetos[0].id %>">
                    <button class="goToProjectButton">
                        Ir para o projeto ➤
                    </button>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>